@{
    ViewData["Title"] = "Bienvenue à la Paix";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Bienvenue à la Paix</h1>
        <h2> Votre satisfaction notre fiérté</h2>
    </div>
</section><!-- End Hero -->

<section id="counts" class="counts">
    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-8">
                <div class="count-box">
                    <i class="fas fa-user-md"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Medecins</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-8 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="far fa-hospital"></i>
                    <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Departements</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-8 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="fas fa-flask"></i>
                    <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Laboratoires</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Counts Section -->
<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">

    <div class="container-fluid">
        <div class="row g-0">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/gallery/gallery-1.jpg" class="galelry-lightbox">
                        <img src="~/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/gallery/gallery-2.jpg" class="galelry-lightbox">
                        <img src="~/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/gallery/gallery-3.jpg" class="galelry-lightbox">
                        <img src="~/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/gallery/gallery-4.jpg" class="galelry-lightbox">
                        <img src="~/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/gallery/gallery-5.jpg" class="galelry-lightbox">
                        <img src="~/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/gallery/gallery-6.jpg" class="galelry-lightbox">
                        <img src="~/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/gallery/gallery-7.jpg" class="galelry-lightbox">
                        <img src="~/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/img/gallery/gallery-8.jpg" class="galelry-lightbox">
                        <img src="~/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Gallery Section -->
